<div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <%# <img src="/w3images/mountains.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> %>
      <%= image_tag 'mountains.jpg', style: "width:100%" %>

      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <%# <img src="/w3images/" alt="Norway" style="width:100%" class="w3-hover-opacity"> %>
      <%= image_tag 'lights.jpg', style: "width:100%" %> 

      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <%# <img src="/w3images/nature.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity"> %>
      <%= image_tag 'nature.jpg', style: "width:100%" %> 

      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
</div>